/***** BASE STYLES *****/

body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter; 
    font-size: 14px;
    line-height: 5px;
    color: #2b2b2b;
}
#about, #work, #contact {
    height: 550px;
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
}

/***** HEADER *****/

header {
    height: 800px;
    background: url('../img/hero.png');
    background-size: cover;
}
header #logo {
    height: 80px;
    width: 70px;
    padding: 12px 0 100px 25px;
}
nav {
    float: right; 
    padding: 10px 15px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: floralwhite;
    padding-left: 80px; 
}
header h2 {
    width: 1000px;
    clear: both;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    color: floralwhite;
    padding: 35px 0 20px 25px;
}
header h2 span {
    color: #52527a;
}

/***** ABOUT *****/

#about {
    background-color: #1a1a1a;
}
#about .full-width {
    padding: 80px 0;
}
#about h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 33px;
    margin-top: 30px;
    padding-left: 50px;
    color: floralwhite;
    line-height: 5px;
}
#about .whitetext {
    line-height: 32px;
}
#about h3 span {
    color: #52527a;
}
#about .linetwo {
    text-align: center;
}
#about .linethree {
    text-align: right;
}
#about .kelchiabout {
    text-align: center;
    color: floralwhite;
    margin: 43px 0px 0px 18px;
}
#about .kelchiabout span {
    color: #52527a;
}
#about .aboutright {
    padding: 15px 0px 0px 80px;
    text-align: center;
    line-height: 20px;
    margin: auto;
}
#about p {
    font-size: 14px;
    color: floralwhite;
    line-height: 22px;
    padding-left: 50px;
    padding-right: 50px;
}

/***** WORK *****/

#work {
    background-color: floralwhite;
    text-align: center;
    /***** border: 10px solid #404040; *****/
}
#work .full-width {
    padding: 115px 0;
}
#work img {
    height: 100px;
    width: 100px;
    padding: 20px 0px 0px 0px;
}
#work h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    width: 150px;
    margin: 0 auto;
}
#work h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
#work h5 span {
    color: #52527a;
}
#work p {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    line-height: 20px;
    padding: 0 50px;
}

/***** CONTACT *****/

#contact {
    background-color: #1a1a1a;
    text-align: center;
}
#contact .full-width {
    padding: 90px 0;
}
#contact .center {
    width: 300px;
    margin: 0px 400px 0px 435px;
}
#contact h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: floralwhite;
    font-size: 52px;
    line-height: 5px;
    padding: 0 0 50px 0;
    text-align: center;
    color: floralwhite;
}
#contact span {
    color: #52527a;
}
#contact #contact-via {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: floralwhite;
    line-height: 44px;
    margin: 0px 0 5px 0;
    line-height: 50px;
    text-align: left;
}
#contact .email {
    text-align: center;
    line-height: 0px;
    color: #52527a;
}
#contact a {
    text-decoration: none;
    font-family: 'Montserrat', serif;
    color: #52527a;
    font-weight: bold;
    font-size: 28px;
}
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding: 0px 48px 0px 0px;
    margin: -70px 0px 0px 0px;
}